<ng-container [formGroup]="form">

    <div class="mb-3">
        <label for="address1" class="form-label">Common One</label>
        <div> <input type="text" formControlName="commonOne" id="common1" class="form-control">

        </div>
    </div>
    <div class="mb-3">
        <label for="address1" class="form-label">Common Two</label>
        <div> <input type="text" formControlName="commonTwo" id="common2" class="form-control">

        </div>
    </div>
    <div class="mb-3">
        <label for="address1" class="form-label">Common Three</label>
        <div> <input type="text" formControlName="commonThree" id="common2" class="form-control">

        </div>
    </div>


</ng-container>