.form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-select {
    position: relative;
  }
  
  .select-control {
    display: block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .select-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .select-control::-ms-expand {
    display: none;
  }
  
  .select-control option {
    font-weight: normal;
  }
  
  .select-control:disabled {
    opacity: 0.5;
  }
  