<div class="mb-3">
    <label class="mb-1">Entity Type</label>
    <div class="ng-select-auto-save">
        <select [formControl]="componentType">
            <option value="typeOne">typeOne</option>
            <option value="typeTwo">typeTwo</option>
        </select>
    </div>
</div>

<!-- ENTITY FORM -->
<div *ngIf="componentType?.value == 'typeOne'">
    <app-form-one [entity]="activeEntityInfo$ | async"></app-form-one>
</div>
<!-- INDIVIDUAL FORM -->
<div *ngIf="componentType?.value == 'typeTwo'">
    <app-form-two [entity]="activeEntityInfo$ | async"></app-form-two>            
</div>

<!-- <div *ngIf="activeForm?.dirty && !hideButton"> -->
<div class="btn-wrapper" *ngIf="activeForm?.dirty">
    <button class="save-btn" [disabled]="activeForm?.invalid || !(activeForm?.dirty)" (click)="updateEntity()">Save</button>

</div>